<h1>Welcome home</h1>
<% 2+2 %>

<% current_time = Time.now %>
<p>The time right now is <%= current_time %></p>

<!-- <a href="/contact"> Contact Us</a> -->

<%= link_to "Contact Us", contact_path %>
<!-- contact_path = "/contact" -->
